
.main-playlists-page{
    width: 100vw;
    height: 100vh;
}

.all-content-playLists-page{
    display: flex;
    justify-content: center;
}

.clearList-button-playlist-page{
    background-color: aqua;
    border: 0.2vw solid black;
}

.playlist-list-show-playlistPage{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    /* background-color: darkgray; */
}